{% extends "main/base.html" %}
{% block content  %}
            <div class="container">
                 <div class="row">
                     <div class="col s12 m8 l8 " >


            {% load crispy_forms_tags %}

            <form method="POST" action="" >{% csrf_token %}
                {{ form | crispy }}

                <input type="submit" value="Ask Counsellor" class="btn btn-primary" />
            </form>

  </div>
                     </div>
                </div>

{% endblock content %}

