<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" >
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    <!--{% load staticfiles %}-->
	<!--<link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}" type = "text/css"/>-->
    <!--<link rel="stylesheet" href="{% static 'main/css/simple-sidebar.css' %}" type = "text/css"/>-->
    <!--<script src="{% static 'main/js/bootstrap.min.js' %}"> </script>-->
    <!--<script src="{% static 'main/jquery-3.0.0.min.js' %}"> </script>-->

    <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href=" {% static 'main2/css/materialize.min.css' %} "  media="screen,projection"/>



</head>


<body>
    <nav class="navbar navbar-default ">
        <div class="container-fluid" >
            <div class="navbar-header" >

                <ul class="nav navbar-nav">
                    <li> <a href="/" >Dost</a></li>
                    <li> <a href="/discussions" >Discuss</a></li>
                    <li> <a href="/faqs" >FAQs</a></li>
                    <li> <a href="/quotes" > Quotes</a></li>
                    <li> <a href="/blog" > Blog</a></li>
                    <li> <a href="/team" > Team</a></li>
                    {% if user.is_authenticated %}
                           {% if request.user.username == "counselor1" %}
                           <li> <a href="/counsellor/messlist/" >MessageList</a></li>
                           <li> <a href="/counsellor/notifi/" >Notifications</a></li>
                           {% else %}
                            <li> <a href="/counsellor/myinbox/" >Inbox</a></li>
                            <li> <a href="/counsellor/ask" >Ask Counsellor</a></li>
                            <li> <a href="/counsellor/notifi/" >Notifications</a></li>
                           {% endif %}

                    {% endif %}

                    {% if user.is_authenticated %}
                       <ul class="right hide-on-med-and-down">
                        <li  style="margin:0px 5px 0px 0px;"><a href="" class="waves-effect waves-light btn"> Welcome {{ user.username }} </a>  </li>
                        <li style="margin:0px 10px 0px 0px;"><a href="/logout" class="waves-effect waves-light btn">Logout</a> </li>
                        </ul>
                    {% else %}
                        <ul class="right hide-on-med-and-down">
                    	<li style=""><a href="/login" class="waves-effect waves-light btn">LOGIN</a></li>
						<li style=""><a href="/register" class="waves-effect waves-light btn">SIGNUP NOW</a></li>
                        </ul>
                    {% endif %}

                    </ul>
        </div>
            </div>

    </nav>


            {% block content %}


            {% endblock content %}


     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src=" {% static 'main2/js/materialize.min.js' %}"></script>
      <script>
                     $(document).ready(function() {
                        $('select').material_select();
                    });
       </script>

    </body>
</html>

